<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633362482784-vtn99sq13nfv08cl7c5i25sombch2u00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633362482784-vtn99sq13nfv08cl7c5i25sombch2u00</string>
	<key>API_KEY</key>
	<string>AIzaSyDHFTrhv2uUyWbT56g7tFg8XGNw3du-zZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>633362482784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeTracker</string>
	<key>PROJECT_ID</key>
	<string>financetracker-f961e</string>
	<key>STORAGE_BUCKET</key>
	<string>financetracker-f961e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633362482784:ios:e2fac72e3a4f2b6d222505</string>
</dict>
</plist>